<div id ="draw-shapes">
	<div id="board">
		<div id="scoreboard">
			<div id="player_name"><h3>name</h3></div>
			<div class="dice_roll">
				<button type="button">1</div>
			<div class="resource" id="fish_and_chips">0</div>
			<div class="resource" id="sleep">0</div>
			<div class="resource" id="coffee">0</div>
			<div class="resource" id="haagen">0</h1></div>
			<div class="resource" id="pizza">0</div>
		</div>
	</div>

</div>

