<div class="game-board-row" id="draw-shapes">
  <div class="game-board-grid large-7 columns" id="board">
  	Hexagon Grid
  </div>
  <div class="game-board-grid large-5 columns">
  	Scoreboard
  	<div class="row">
  		<div class="gb-player large-1 columns">...</div>
  		<div class="gb-player large-2 columns">...</div>
  		<div class="gb-player large-2 columns">...</div>
  		<div class="gb-player large-2 columns">...</div>
  		<div class="gb-player large-2 columns">...</div>
  		<div class="gb-player large-2 columns">...</div>
  		<div class="gb-player large-1 columns">...</div>
		</div>
  </div>
</div>
