<div class="container">
	<div id="left">
		<div id ="draw-shapes">
			<div id="board">
			</div>
		</div>
	</div>

	<div id="right">
			<div id="scoreboard">
				<div id="player-1" class="player">
					<div id="player_name"><h3>name</h3></div>
					<div class="dice_roll">!</div>
					<div class="resource" id="victory_points">0</div>
					<div class="resource" id="fish_and_chips">0</div>
					<div class="resource" id="sleep">0</div>
					<div class="resource" id="coffee">0</div>
					<div class="resource" id="haagen">0</div>
					<div class="resource" id="pizza">0</div>
					<div class="resource" id="ee_session">0</div>
				</div>
				<div id="player-2" class="player">
					<div id="player_name"><h3>name</h3></div>
					<div class="dice_roll">!</div>
					<div class="resource" id="victory_points">0</div>
					<div class="resource" id="fish_and_chips">0</div>
					<div class="resource" id="sleep">0</div>
					<div class="resource" id="coffee">0</div>
					<div class="resource" id="haagen">0</div>
					<div class="resource" id="pizza">0</div>
					<div class="resource" id="ee_session">0</div>
				</div>
				<div id="player-3" class="player">
					<div id="player_name"><h3>name</h3></div>
					<div class="dice_roll">!</div>
					<div class="resource" id="victory_points">0</div>
					<div class="resource" id="fish_and_chips">0</div>
					<div class="resource" id="sleep">0</div>
					<div class="resource" id="coffee">0</div>
					<div class="resource" id="haagen">0</div>
					<div class="resource" id="pizza">0</div>
					<div class="resource" id="ee_session">0</div>
				</div>
				<div id="player-4" class="player">
					<div id="player_name"><h3>name</h3></div>
					<div class="dice_roll">!</div>
					<div class="resource" id="victory_points">0</div>
					<div class="resource" id="fish_and_chips">0</div>
					<div class="resource" id="sleep">0</div>
					<div class="resource" id="coffee">0</div>
					<div class="resource" id="haagen">0</div>
					<div class="resource" id="pizza">0</div>
					<div class="resource" id="ee_session">0</div>
				</div>
				<div id="end-turn">
					END TURN
				</div>
			</div>
			
	</div>
</div>
