<div class="game-board-row" id="draw-shapes">
  <div class="game-board-grid large-7 columns" id="board">
  	Hexagon Grid
  </div>
  <div class="game-board-grid large-5 columns">
  	Scoreboard
  	<div class="clearance"></div>
  	<div class="scoreboard row">
  		<div class="gb-player large-1 columns">space</div>



  		<div class="gb-player large-2 columns">item</div>
  		<div class="gb-player large-2 columns" id="player-1">Player1</div>
  		<div class="gb-player large-2 columns" id="player-2">Player2</div>
  		<div class="gb-player large-2 columns" id="player-3">Player3</div>
  		<div class="gb-player large-2 columns" id="player-4">Player4</div>



  		<div class="gb-player large-1 columns">space</div>
		</div>
  </div>
</div>


