
<div class="row splash" id="splash">
  <div class="small-6 large-centered columns" id="splash-title">
  	<h1>Devs Of EDA!<h1>
  </div>
  <div class="row splash-button-area">
		<%= link_to "Start Phase 1!", new_board_path, :class=>("splash-button button large") %>
		<a class="splash-button button large" data-dropdown="autoCloseExample" aria-controls="autoCloseExample" aria-expanded="false">Load Game &raquo;</a>
			<ul id="drop" class="[tiny small medium large content] f-dropdown" data-dropdown-content>
				<% @boards.each do |board| %>
					<li><a href="#">
						<%= link_to board.id, board %>
					</a></li>
				<% end %>
			</ul>
  </div>
</div>
