
<div class="row splash" id="splash">
  <div class="small-6 large-centered columns" id="splash-title">
  	<h1>Devs Of EDA!<h1>
  </div>
  <div class="row splash-button-area">
		<%= link_to "Start Phase 1", new_board_path, :class=>("new-game-button button large") %>
		<a href="#" class="load-game-button button large">Continue with Journey..</a>
  </div>
</div>
