<div id="splash">
	<div class="row">
		<div class="large-12">
			<h1>welcomeeeeeee</h1>
			<div>
				<%= link_to "new_game", new_board_path %>
			</div>
			<div>
				<ul>
					<% @boards.each do |board| %>
						<li>
							<%= link_to board.id, board %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
