<!-- <div id="splash">
	<div class="row">
		<div class="large-1 columns">
			<div class="large-8 large-offset-3 columns">8, offset 3</div>
				<h1>welcomeeeeeee</h1>
			</div>
		</div>
	</div>
	<div>
		<%= link_to "new_game", new_board_path %>
	</div>
	<div>
		<ul>
			<% @boards.each do |board| %>
				<li>
					<%= link_to board.id, board %>
				</li>
			<% end %>
		</ul>
	</div>
</div> -->


<div class="row splash" id="splash">
  <div class="small-6 large-centered columns" id="splash-title">
  	<h1>Devs Of EDA!<h1>
  </div>
  <div class="row splash-button-area">
		<%= link_to "Start Phase 1", new_board_path, :class=>("new-game-button button large") %>
		<a href="#" class="load-game-button button large">Continue with Journey..</a>
  </div>
</div>
