
<div class="row splash" id="splash">
  <div class="small-6 large-centered columns" id="splash-title">
  	<h1>Devs Of EDA!<h1>
  </div>
  <div class="row splash-button-area">
		<%= link_to "Start Phase 1!", new_board_path, :class=>("splash-button button large") %>
		<%= link_to "Load Game", load_game_path, :class=>("splash-button button large") %>
  </div>
</div>
